body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
    font-family: 'Myriad Pro', Roboto, sans-serif;
    font-size: ms(0);
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
}

/**
 * POST
 */
h1.entry-title {
    font-size: ms(2);
}

h2.entry-title {
    font-size: ms(1);
}

.blog .entry-title {
    &,
    a {
        color: #063;
    }
}

.featured-image {
    margin-bottom: 0;
}

.entry-meta {
    font-style: normal;
    margin-top: 0.5rem;

    a {
        color: currentColor !important;
    }
}

.entry-content {
    margin-top: 1rem;
}

.entry-info {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

.site-info {
    padding: 0;
    text-align: initial;

    > section {
        padding: 40px 0;
    }

    section.subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #88bb22;

        h1 {
            margin: 16px 0;
        }

        .form-field {
            width: 40vw;
            margin: 0 auto;

            label {
                text-align: right;
            }
        }

        button {
            background-color: #888;

            &:hover {
                background-color: #111;
            }
        }
    }

    section.foot {
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .col {
                width: 25%;
            }
        }
    }
}

.card .horizontal {
	display: flex;
  flex-direction: row;

  .card__image {
    position: relative;
    width: 140px;
  	height: 120px;
    overflow: hidden;
		background-color: #ddd;
  }
}
